* {
    font-family: "Caveat Brush", serif;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #fffcfc;
    cursor: url('cursor-arrowhead\ 1.png');
}

nav {
    min-width: 250px;
    width: 16%;
    height: 100vh;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.top, .buttom {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.top, .buttom {
    display: flex;
    align-items: center;
}

.menu {
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
}

.menu img { 
    height: 30px;
    width: 30px;
    padding: 10px;
    border-radius: 5%;
}

.hamburger:hover, .homeicon:hover {
    background-color: rgba(231, 230, 230, 0.13);
    border-radius: 20%;
    transform: scale(1.1);
}

.Play, .Solver, .help {
    padding: 0px 10px;
    border-radius: 5%;
    display: flex;
    gap: 20px;
    width: 70%;
    align-items: center;
    font-size: 1.7em;
    transition: all .2s ease;
}

.Play img, .Solver img, .help img {
    height: 50px;
    width: 50px;
}

.Play:hover, .Solver:hover, .help:hover {
    background-color: rgba(235, 235, 235, 0.13);
    transform: scale(1.1);
    transition: all .2s ease;
}

.Solver > img {
    width: 60px;
    height: 60px;
    margin-left: -8px;
}

.help {
    bottom: 0;
}

.help > img {
    height: 35px;
    width: 35px;
    margin-left: 30px;
}

.help {
    margin-left: 0px;
    padding-left: 10px;
}

.menu, .Play, .Solver, .help {
    width: 170px;
}

.screen {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    width: 84%;
    max-width: calc(100vw - 275px);
    height: 100vh;
   
}

.sudoku-grid {
    display: grid;
    grid-template-columns: repeat(9, 1fr); /* 9 equal columns */
    grid-template-rows: repeat(9, 1fr); /* 9 equal rows */
position: absolute;
width:42%;
height: 78%;
left: 23%;
top: 3%;
z-index: 1;




}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ccc;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}


.rectangle{
    /* Sidebar */
/* Rectangle 20 */

box-sizing: border-box;

position: absolute;
width: 254px;
height:80%;
left: 78%;
top: 3%;

background: #fffefe;
border: 2px solid #888686;
box-shadow: 4px 6px 5.8px rgba(0, 0, 0, 0.25);
border-radius: 20px;



}

.user{
    /* Enter input : */

position: absolute;
width: 100%;
height: 7%;
left: 0%;
top: 109%;
border-radius:  20px 20px 20px 20px;
border: 2px solid #888686;
box-shadow: 4px 6px 5.8px rgba(0, 0, 0, 0.25);

font-family: 'Changa';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 130%;

color: #000000;
z-index: 1;

}

.rectangle2{



/* Rectangle 20 */

box-sizing: border-box;

position: absolute;
width: 33.33%;
height: 16%;
left: -0.1em;
top: -0.1em;

background: #fffefe;
border: 2px solid #888686;
border-radius: 20px 0px 0px 0px;



}

.rectangle3{



    /* Rectangle 20 */
    
    box-sizing: border-box;
    
    position: absolute;
    width: 37%;
    height: 16%;
    left: 5em;
    top: -0.1em;
    
    background: #fffefe;
    border: 2px solid #888686;
    border-radius: 0px 0px 0px 0px;
    
    }

    .rectangle4{



        /* Rectangle 20 */
        
        box-sizing: border-box;
        
        position: absolute;
        width: 32.9%;
        height: 16%;
        left: 10.6em;
        top: -0.1em;
        
        background: #fffefe;;
        border: 2px solid #888686;
        border-radius: 0px 20px 0px 0px;
        
        }
        .boxes{
            
                display: grid;
                grid-template-columns: repeat(3, 1fr); /* 9 equal columns */
                grid-template-rows: repeat(3, 1fr); /* 9 equal rows */
            position: absolute;
            width: 99%;
            height: 28%;
            left: 0.3%;
            top: 33%;
            z-index: 1;
            border: 2px solid black;
            text-align: center;
            font-family: 'Changa';
            font-style: normal;
            font-weight: 10;
            font-size: 40px;
            line-height: 130%;
            gap: 0.9%;
            background-color: black; 
        
     div:nth-child(1),
        div:nth-child(2),
        div:nth-child(3) {
background:  #a48553
        }
   
        div:nth-child(4),
        div:nth-child(5),
        div:nth-child(6) {
background: #6D9DC5
        }
           
     div:nth-child(7),
     div:nth-child(8),
     div:nth-child(9) {
background: #6D9DC5
    }
}
.smallrectangle{
    /* Rectangle 23 */
   
   box-sizing: border-box;
   
   position: absolute;
   width: 254px;
   height: 73px;
   left:78%;
   top: 75%;
   z-index: 1;
   
   background:  #F9AC30;
   border: 4px solid #000000;
   box-shadow: 4px 6px 5.8px rgba(0, 0, 0, 0.25);
   border-radius: 0px 0px 20px 20px;
   
   }
   #solve{
   /* Solve */
   
   position: absolute;
   width: 108px;
   height: 59px;
   left: 35%;
   top: -66%;
   
   font-family: 'Caveat Brush';
   font-style: normal;
   font-weight: 400;
   font-size: 48px;
   line-height: 60px;
   text-align: center;
   
   color: #000000;
   
   
   }
    .smallrectangle:hover {
       transform: scale(1.1);
       transition: all .5s ease;
       border-radius:25px;
       cursor: pointer;
   }
   .smallrectangle{
       transition: border-radius 0.6s ease; /* Transition when hovered out */
   }
   
   
   
   
